{% load static %}
<footer class="footer">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <img class="footer_logo logo" src="{% static 'home/img/footer_logo.png' %}" alt="">
            <p>Liên hệ để được hỗ trợ.</p>
            {% for phonenumber in phonenumbers %}
            <a href="tel:{{ phonenumber }}">{{ phonenumber }}</a>
            {% endfor %}
            <div class="socail_links">
              <ul>
                <li>
                  <a href="#">
                    <i class="ti-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-3">
          <div class="footer_widget">
            <h3 class="footer_title">
              SƠN TÂY
            </h3>
            <ul>
              <li><a href="#">Số 16 Hữu Nghị - Xuân Khanh - Sơn Tây - TP. Hà Nội</a></li>
              <li><a href="#">Điện thoại: +84 2433 838 063</a></li>
              <li><a href="#">Email: vhalumni@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              THẠCH THẤT
            </h3>
            <ul>
              <li><a href="#">Khu Công nghiệp Bình Phú - Thạch Thất - TP. Hà Nội</a></li>
              <li><a href="#">Điện thoại: +84 2462 517 333</a></li>
              <li><a href="#">Email: vhalumni@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 col-lg-2">
          <div class="footer_widget">
            <h3 class="footer_title">
              THANH XUÂN
            </h3>
            <ul>
              <li><a href="#">Số 27 Lê Văn Lương - Thanh Xuân - TP. Hà Nội</a></li>
              <li><a href="#">Điện thoại: +84 2433 838 345</a></li>
              <li><a href="#">Email: vhalumni@gmail.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right_text">
    <div class="container">
      <div class="footer_border"></div>
      <div class="row">
        <div class="col-xl-12">
          <p class="copy_right text-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script> All rights reserved. Created <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#"
              target="_blank">Ha ANM</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>