{% extends 'user/partials/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
{% endblock %}
{% block content %}
  <div class="spacing_head"></div>
  <!-- partial:index.partial.html -->
  <div class="chat_window">
    <div class="top_menu">
      <div class="buttons">
        <div class="button close"></div>
        <div class="button minimize"></div>
        <div class="button maximize"></div>
      </div>
    </div>
    <ul class="messages"></ul>

    <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">
        <div class="mic my-1 mr-2" style="display: inline-block; border-radius: 50%;">
          <button id="startButton" type="button" class="btn btn-secondary" style="border-radius: 50%;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
              <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"></path>
              <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"></path>
            </svg>
          </button>
        </div>
        <input id="output" class="message_input" placeholder="Câu hỏi..." />
      </div>

      <div class="send_message">
        <div class="icon"></div>
        <div class="text">Gửi</div>
      </div>
    </div>
  </div>
  <div class="message_template">
    <li class="message">
      <div class="text_wrapper">
        <div class="text"></div>
      </div>
    </li>
  </div>
  <!-- partial -->
{% endblock %} {% block footer %}

{% endblock %}
{% block script %}
  <script>
    const chatEndpoint = '/chat/'
  </script>

  <!-- REACT LIBRARY -->
  <script src="{% static 'libs/unpkg.com/react@18.2.0/umd/react.development.js' %}"></script>
  <script src="{% static 'libs/unpkg.com/react-dom@18.2.0/umd/react-dom.development.js.js' %}"></script>
  <script src="{% static 'libs/unpkg.com/@babel/standalone@7.22.10/babel.min.js' %}"></script>

  {% comment %}AXIOS{% endcomment %}
  <script src="{% static 'libs/axios/dist/axios.min.js' %}"></script>
  <script src="{% static 'utils/baseAxios.js' %}" type="text/javascript"></script>
  <script src="{% static 'services/chat.service.js' %}"></script>

  <script src="{% static 'libs/cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' %}"></script>
  <script src="{% static 'js/chat.js' %}"></script>
  <script src="{% static 'js/speech-to-text.js' %}"></script>
{% endblock %}
