{% extends 'user/partials/base.html' %}
{% load static %}

{% block content %}
<div class="spacing_head"></div>

<div class="col-lg-12 col-xl-11">
    <h1 class="item-page-title">Thông tin về viu</h1>
    <p><iframe
            src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d238132.45954477365!2d105.45985339388301!3d21.159573185032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x313454b2f431c099%3A0xe44043bacd461128!2zQuG6v24geGUgTeG7uSDEkMOsbmgsIFBo4bqhbSBIw7luZywgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!3m2!1d21.0283312!2d105.7782508!4m5!1s0x31345fa33c25fd13%3A0x926ecb5f57762848!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBDw7RuZyBOZ2hp4buHcCBWaeG7h3QtSHVuZywgWHXDom4gS2hhbmgsIEjDoCBO4buZaQ!3m2!1d21.112008!2d105.44258699999999!5e0!3m2!1svi!2sus!4v1460203361102"
            width="100%" height="450" allowfullscreen="allowfullscreen" style="border: 0px;"></iframe>
    </p>
    <table style="height: 19px; width: 100%;" align="center">
        <tbody>
            <tr>
                <td align="left" valign="top">
                    <p><strong>Đại học Công nghiệp Việt-Hung</strong>
                    </p>
                    <p>Địa chỉ: Số 16 Hữu Nghị - Xuân Khanh - Sơn Tây - Hà Nội - Việt Nam</p>
                    <p>Điện thoại: <a
                        href="tel:+8433838345">(+84)&nbsp;33 838 345</a>&nbsp;Fax: (+84)&nbsp;33 838 345</p>
                    <p>Email:<span id="cloak703d20b768c898b5c81fc922c78a6f71"><a
                                href="mailto:dhcnviethung.viu@gmail.com">dhcnviethung.viu@gmail.com</a></span>
                        <script type="text/javascript">
                            document.getElementById('cloak703d20b768c898b5c81fc922c78a6f71').innerHTML = '';
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy703d20b768c898b5c81fc922c78a6f71 = 'dhcnv&#105;&#101;th&#117;ng.v&#105;&#117;' + '&#64;';
                            addy703d20b768c898b5c81fc922c78a6f71 = addy703d20b768c898b5c81fc922c78a6f71 + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
                            var addy_text703d20b768c898b5c81fc922c78a6f71 = 'dhcnv&#105;&#101;th&#117;ng.v&#105;&#117;' + '&#64;' + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m'; document.getElementById('cloak703d20b768c898b5c81fc922c78a6f71').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy703d20b768c898b5c81fc922c78a6f71 + '\'>' + addy_text703d20b768c898b5c81fc922c78a6f71 + '<\/a>';
                        </script>&nbsp;Website:<a
                            href="http://viu.edu.vn">http://viu.edu.vn</a>&nbsp;-&nbsp;<a
                            href="http://tuyensinh.viu.edu.vn">http://tuyensinh.viu.edu.vn</a>
                    </p>
                </td>
                <td style="text-align: right;" align="right">&nbsp;<img style="float: right;"
                        src="/media/draw1.png" alt="logo viu sv">
                </td>
            </tr>
        </tbody>
    </table>
    <p><strong>Danh sách liên hệ:</strong>
    </p>
    <div class="itp-social-buttons-box">
        <h4>Chia sẻ</h4>
        <div class="itp-sbb-bothl">
            <div class="itp-sb-center"><a
                    href="http://del.icio.us/post?url=http%3A%2F%2Ftuyensinh.viu.edu.vn%2Flien-he.html&amp;title=Li%C3%AAn%20h%E1%BB%87"
                    title="Submit to Delicious" target="blank"><img
                        src="http://tuyensinh.viu.edu.vn/plugins/content/itpsocialbuttons/images/wpzoom24/delicious.png"
                        alt="Submit to Delicious"></a><a
                    href="http://digg.com/submit?url=http%3A%2F%2Ftuyensinh.viu.edu.vn%2Flien-he.html&amp;title=Li%C3%AAn%20h%E1%BB%87"
                    title="Submit to Digg" target="blank"><img
                        src="http://tuyensinh.viu.edu.vn/plugins/content/itpsocialbuttons/images/wpzoom24/digg.png"
                        alt="Submit to Digg"></a><a
                    href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ftuyensinh.viu.edu.vn%2Flien-he.html&amp;t=Li%C3%AAn%20h%E1%BB%87"
                    title="Submit to Facebook" target="blank"><img
                        src="http://tuyensinh.viu.edu.vn/plugins/content/itpsocialbuttons/images/wpzoom24/facebook.png"
                        alt="Submit to Facebook"></a><a
                    href="https://plus.google.com/share?url=http%3A%2F%2Ftuyensinh.viu.edu.vn%2Flien-he.html"
                    title="Submit to Google Plus" target="blank"><img
                        src="http://tuyensinh.viu.edu.vn/plugins/content/itpsocialbuttons/images/wpzoom24/google.png"
                        alt="Submit to Google Plus"></a><a
                    href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Ftuyensinh.viu.edu.vn%2Flien-he.html&amp;title=Li%C3%AAn%20h%E1%BB%87"
                    title="Submit to Stumbleupon" target="blank"><img
                        src="http://tuyensinh.viu.edu.vn/plugins/content/itpsocialbuttons/images/wpzoom24/stumbleupon.png"
                        alt="Submit to Stumbleupon"></a><a
                    href="http://technorati.com/faves?add=http%3A%2F%2Ftuyensinh.viu.edu.vn%2Flien-he.html"
                    title="Submit to Technorati" target="blank"><img
                        src="http://tuyensinh.viu.edu.vn/plugins/content/itpsocialbuttons/images/wpzoom24/technorati.png"
                        alt="Submit to Technorati"></a><a
                    href="http://twitter.com/share?text=Li%C3%AAn%20h%E1%BB%87&amp;url=http%3A%2F%2Ftuyensinh.viu.edu.vn%2Flien-he.html"
                    title="Submit to Twitter" target="blank"><img
                        src="http://tuyensinh.viu.edu.vn/plugins/content/itpsocialbuttons/images/wpzoom24/twitter.png"
                        alt="Submit to Twitter"></a><a
                    href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Ftuyensinh.viu.edu.vn%2Flien-he.html&amp;title=Li%C3%AAn%20h%E1%BB%87"
                    title="Submit to LinkedIn" target="blank"><img
                        src="http://tuyensinh.viu.edu.vn/plugins/content/itpsocialbuttons/images/wpzoom24/linkedin.png"
                        alt="Submit to LinkedIn"></a></div>
        </div>
    </div>




</div>
<div class="spacing_foot"></div>
{% endblock %}